.car-filter {
	&--main {
		width: 820px;
		margin: 0 auto;
		padding-top: 780px;
	}
}

.car-filter__title {
	margin-bottom: 20px;
	font-family: $font-rubik;
	font-size: 22px;
	font-weight: 300;
	line-height: 1em;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px grey;
}

.car-filter__form {
	display: flex;
	justify-content: space-between;
}

.car-filter__car-body {
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 42px;
	width: 250px;
	font-family: $font-muller;
	font-size: 20px;
	font-weight: 200;
	line-height: 1em;
	color: #8d8d8d;
	border: none;
}

.car-filter__wrapper {
	position: relative;
	height: 42px;
}

.car-filter__label {
	position: absolute;
	display: block;

	&--car {
		width: 26px;
		height: 24px;

		svg {
			margin-top: 9px;
			margin-left: 8px;
			fill: #bebebe;
		}
	}

	&--calendar {
		position: absolute;
  		top: 0;
  		left: 0;
  		display: block;
  		width: 50px;
  		height: 100%;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 12px;
			height: 100%;
			background-color: #f6b900;
			z-index: 5;
		}

		svg {
			display: block;
			margin-top: 9px;
			margin-left: auto;
			fill: #bebebe;
		  }
	}
}

.car-filter__calendar {
	width: 180px;
	padding-top: 10px;
  	padding-bottom: 12px;
	padding-left: 70px;
	font-family: $font-muller;
	font-size: 20px;
	font-weight: 200;
	line-height: 1em;
}

.car-filter__submit {
	width: 48px;
	height: 43px;
	background-color: transparent;
	border: none;
	cursor: pointer;

	svg {
		fill: #f6b900;
	}

	&:hover {
		svg {
		  fill: #997300;
		}
	  }

	&:active {
		svg {
		  fill: #ffd966;
		}
	}
}
