.footer {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: #222222;
}

.footer__wrapper {
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.footer__social {
	position: relative;
	left: -70px;
}

.footer__section-title {
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
	text-transform: uppercase;
}

.footer__description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 14px;
	font-weight: 700;
	text-align: left;

	span {
		margin-bottom: 3px;
	}

	a {
		text-decoration: underline;
	}
}

.footer__wrapper-social {
	width: 160px;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.link-copyright {
	display: block;
	padding: 10px;
	margin-top: 15px;
	margin-left: -15px;
	background-color: #000000;
	font-family: serif;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		background-color: #ffffff;
		color: #000000;
	}
}
