.header {
	width: 100%;
	margin-bottom: -71px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	width: 850px;
	margin: 0 auto;
	z-index: 10;
}

.header__menu {
	width: 750px;
	display: flex;
	justify-content: space-between;
	z-index: 15;
}

.header__menu-item {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 30px;
	list-style: none;

	a {
		text-decoration: none;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		text-shadow: 1px 1px 5px grey;

		&:hover {
			color: grey;
			text-shadow: 1px 1px 5px #ffffff, 0 0 1em grey;
		}
	}
}

.header__submenu {
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}

.submenu {
	display: none;
}

.lang-wrapper {
	display: flex;
	justify-content: space-between;
	margin: auto 0;
	z-index: 15;

	svg {
		z-index: 15;
	}
}

.site-lang {
	margin-right: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 1px 1px 5px grey;
	z-index: 15;

	&:hover {
		color: grey;
		text-shadow: 1px 1px 5px #ffffff, 0 0 1em grey;
	}
}
