.logo {
	display: block;
	width: 890px;
	margin: 0 auto;
	background:
    	linear-gradient(to right,
      	rgba(158, 158, 158, 0),
      	rgba(158, 158, 158, 1),
		  rgba(158, 158, 158, 0));

	img {
		display: block;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
