.main-article {
	display: flex;
	flex-direction: row-reverse;
	margin: 0 auto;
	background-color: white;
}

.main-article__content {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	margin-right: 10px;
}

.main-article__title {
	margin-top: 25px;
	margin-bottom: 30px;
	font-family: $font-rubik;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #444444;
}

.main-article__txt {
	margin-bottom: 15px;
	font-family: $font-rubik;
	color: #444444;
}

.main-articel__page-link {
	margin-top: auto;
	margin-left: auto;
	margin-right: 5px;
	margin-bottom: 10px;
	color: #cc9900;
	text-decoration: underline;
}

.main-article__img-wrapper {
	position: relative;
	width: 225px;
	height: 275px;
	margin: 10px;
	background-color: #f6b900;

	img {
		position: absolute;
		bottom: 0;
		right: -27px;
	}
}
