.main-top {
	width: 100%;
	min-height: 1090px;
	background-color: #f8f8f8;
	background-image: url("../img/main_back.jpg");
	background-position-x: center;
	background-position-y: bottom;
	background-size: cover;
}
