.page-title {
	&--home {
		position: absolute;
		top: 15%;
		left: 50%;
		margin: 0 auto;
		font-size: 74px;
		text-align: center;
		text-shadow: 1px 1px 5px grey;
		transform: translate(-50%);
		visibility: hidden;
	}
}
