.slider {
	width: 100%;
	background-color: #f8f8f8;
}

.slider__title {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: $font-rubik;
	font-size: 23px;
	font-weight: 300;
	line-height: 0.6em;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
	color: #646464;
}

.slider__wrapper {
	position: relative;
	margin: 0 auto;
	margin-bottom: 175px;
	border-top: 4px solid #e5bd44;
	border-bottom: 4px solid #e5bd44;
	padding-top: 23px;
	padding-bottom: 23px;
	background-color: #3f3f3f;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 30vw;
		background: linear-gradient(to right,
			rgb(197, 197, 197) 13%,
			rgba(197, 197, 197, 0.738) 25%,
			rgba(197, 197, 197, 0.541) 35%,
			rgba(197, 197, 197, 0.382) 47%,
			rgba(197, 197, 197, 0.278) 56.5%,
			rgba(197, 197, 197, 0.194) 65%,
			rgba(197, 197, 197, 0.126) 73%,
			rgba(197, 197, 197, 0.075) 80.2%,
			rgba(197, 197, 197, 0.042) 86.1%,
			rgba(197, 197, 197, 0.021) 91%,
			rgba(197, 197, 197, 0.008) 95.2%,
			rgba(197, 197, 197, 0.002) 98.2%,
			rgba(197, 197, 197, 0) 100%
		);
		z-index: 1500;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 30vw;
		background: linear-gradient(to left,
			rgb(197, 197, 197) 13%,
			rgba(197, 197, 197, 0.738) 25%,
			rgba(197, 197, 197, 0.541) 35%,
			rgba(197, 197, 197, 0.382) 47%,
			rgba(197, 197, 197, 0.278) 56.5%,
			rgba(197, 197, 197, 0.194) 65%,
			rgba(197, 197, 197, 0.126) 73%,
			rgba(197, 197, 197, 0.075) 80.2%,
			rgba(197, 197, 197, 0.042) 86.1%,
			rgba(197, 197, 197, 0.021) 91%,
			rgba(197, 197, 197, 0.008) 95.2%,
			rgba(197, 197, 197, 0.002) 98.2%,
			rgba(197, 197, 197, 0) 100%
		);
		z-index: 1500;
	}
}

.slider__element {
	width: 450px;
	height: 195px;
	border: 3px solid #ffffff;
	background-color: transparent;
	z-index: 5;

	&--active {
		margin: 0 80px;
	}
}

.slider__discount {
	margin-left: auto;
	margin-right: 15px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	font-weight: 200;
	line-height: 0.75em;
}

.slider__car {
	display: block;
	width: 100%;
	height: 100%;

	img {
		display: block;
		margin: auto;
	}
}

.slider__nav {
	position: absolute;
	top: 100px;
	left: 49%;
	transform: translate(-48%);
	display: flex;
	justify-content: space-between;
	width: 560px;
	z-index: 10;
}

.slider__btn {
	width: 17px;
 	height: 43px;
  	padding: 10px;
  	background-color: transparent;
  	border: none;
  	cursor: pointer;
  	z-index: 1000;
}
