.social-link {
	width: 50px;
	height: 50px;
	background-color: #000000;

	svg {
		display: block;
		margin: 0 auto;
		fill: #ffffff;
	}

	&--vk,
	&--inst {
		svg {
			margin-top: 10px;
		}
	}

	&--fb {
		svg {
			margin-top: 9px;
		}
	}

	&:hover {
		background-color: #ffffff;

		svg {
			fill: #000000;
		}
	}
}
