<footer class="footer">
	<div class="footer__wrapper">
    	<section class="footer__info">
        	<h3 class="footer__section-title">автопрокат "mefa"</h3>
       		<p class="footer__description">
            	<span>АДРЕС: г. ТБИЛИСИ ул. КОТЭ АБХАЗИ 47</span>
            	<span>НЕ МОЖЕТЕ НАЙТИ? <a href="#">НАЖМИТЕ СЮДА!</a></span>
            	<span>ТЕЛЕФОН: +995-558-87-87</span>
        	</p>
    	</section>
    	<section class="footer__social">
        	<h3 class="footer__section-title">давайте дружить!</h3>
        	<div class="footer__wrapper-social">
            	<a class="social-link social-link--vk" href="#" target="_blank" aria-label="Мы в Вконтакте!">
					<svg viewBox="0 0 33 23" width="33" height="23">
						<use href="#icon-vk" />
					</svg>
				</a>
            	<a class="social-link social-link--fb" href="#" target="_blank" aria-label="Наша группа в Facebook!">
					<svg viewBox="0 0 21 29" width="21" height="29">
						<use href="#icon-fb"/>
					</svg>
				</a>
            	<a class="social-link social-link--inst" href="#" target="_blank" aria-label="Подписывайтесь на наш Instagram!">
					<svg viewBox="0 0 24 24" width="24" height="24">
						<use href="#icon-insta"/>
					</svg>
				</a>
       	 	</div>
    	</section>
    	<section class="footer__copyright">
        	<h3 class="footer__section-title">разработано:</h3>
        	<a class="link-copyright" href="#" target="_blank" aria-label="Разработано с любовью и усердием Banana Group">banana group</a>
		</section>
	</div>
</footer>
