<header class="header">
    <nav class="header__nav">
		<ul class="header__menu">
        	<li class="header__menu-item"><a href="#">главная</a></li>
			<li class="header__menu-item"><a href="#">автопарк</a></li>
			<li class="header__menu-item"><a href="#">условия</a></li>
			<li class="header__menu-item"><a href="#">контакты</a></li>
        	<li class="header__menu-item"><a href="#">информация</a></li>
		</ul>
		<div class="lang-wrapper">
			<a class="site-lang" href="#" aria-label="переключить язык">eng</a>
			<svg viewBox="0 0 24 14" width="24" height="14">
				<use href="#flag-gb"/>
			</svg>
		</div>
	</nav>
</header>
