@font-face {
	font-family: "Muller";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("../fonts/MullerThin.woff2") format("woff2"), url("../fonts/MullerThin.woff") format("woff");
}

@font-face {
	font-family: "Muller";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
}

body {
    margin: 0;
	color: #ffffff;
	font-family: $font-muller;
	font-size: 15px;
	font-weight: 300;
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

ul {
	padding: 0;
}

input {
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	background-color: #ffffff;
	font-family: $font-rubik;
}
